.grid-items(infinite-scroll="$ctrl.updateVideoList()", infinite-scroll-disabled="$ctrl.loaderBusy")
  a.grid-item(ng-repeat="video in $ctrl.videoList")
    h1 {{ video.name }}
    videogular
      vg-media(vg-src="$ctrl.getUrl(video.url)")
    //p  {{ video.description }}
  //a.grid-item(href='javascript:void(0)')
  //  h1 Last Grid Item
  //  img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='')
  //  p Lorem ipsum dolor sit amet, elit. Rem, illum.
  //a.grid-item(href='javascript:void(0)')
  //  h1 A Grid Item
  //  img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='')
  //  p Lorem ipsum dolor sit amet, elit. Rem, illum.
  //a.grid-item(href='javascript:void(0)')
  //  h1 Item
  //  img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='')
  //  p Lorem ipsum dolor sit amet, elit. Rem, illum.
  //a.grid-item(href='javascript:void(0)')
  //  h1 Item
  //  img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='')
  //  p Lorem ipsum dolor sit amet, elit. Rem, illum.
  //a.grid-item(href='javascript:void(0)')
  //  h1 Item
  //  img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='')
  //  p Lorem ipsum dolor sit amet, elit. Rem, illum.
  //a.grid-item(href='javascript:void(0)')
  //  h1 MATAR
  //  img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='')
  //  p Lorem ipsum dolor sit amet, elit. Rem, illum.
