@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {

  $action-color: #477DCA !default;
  $base-background-color: white !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($action-color, 30%);
  $grid-item-colors:
    desaturate($action-color, 30%),
    #3581A5,
    #5FBEBE,
    #98C79A,
    #A7A891,
    #BDCC97,
    #979EA0;
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 20em;

  @include clearfix;
  margin-top: 60px;
  .grid-item {
    position: relative;
    //$grid-item-background
    background: $turquoise;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: ($grid-item-border-size / 2) solid $grid-items-background;
    border-right: ($grid-item-border-size / 2) solid $grid-items-background;
    border-top: 2px solid rgba($turquoise, .5);
    //border: 0; //override borders
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    outline: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    //@for $i from 1 through length($grid-item-colors) {
    //  // assign colors from $grid-item-colors list
    //  &:nth-child(#{$i}) {
    //    $background-from-list: nth($grid-item-colors, $i);
    //    background-color: $background-from-list;
    //    box-shadow: inset 0 0 1px 2px darken($background-from-list, 10%);
    //
    //    &:focus,
    //    &:hover {
    //      background-color: darken($background-from-list, 10%);
    //      background-position: top;
    //      background-repeat: no-repeat;
    //      background-size: cover;
    //    }
    //  }
    //}
    .player{

      font-size: 8em;
      background-color: $turquoise;
      color: $inverse;
    }
  }
  .grid-item img {
    //display: block;
    height: 3em;
    margin: 0 auto 1em;
  }

  .grid-item h1 {
    @extend %base-forms;
    //$grid-item-color
    color: $turquoise;
    font-size: .77em;
    margin-bottom: 0.4em;
    @include span-columns(12);
    background-color: $inverse;
  }

  .grid-item p {
    //display: none;
    color: transparentize($grid-item-color, 0.3);
    line-height: 1.7em;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 2.2em;
    //background-color:  rgba;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    color: red;


    @include media($medium-screen) {
      max-width: 70%;
    }
  }

  .grid-item-big {

    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }

    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  //.grid-item-image {
  //  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
  //  background-color: $grid-item-background;
  //  background-position: top;
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //}
}

